


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3 {
  font-family: "Montserrat", "Poppins", "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 1px; 
  text-transform: uppercase; 
}


.wrapper {
  width: 600px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex: 1;
  grid-gap: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-side,
.right-side {
  padding: 10px;
  width: 50%;
}
.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left-side h4 {
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "Montserrat", "Poppins", "Inter", sans-serif;
  cursor: pointer;
}
.left-side-img {
  width: 78%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}
.login-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", "Poppins", "Inter", sans-serif;
}

input {
  width: 80%;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.rights-side-btn {
  width: 40%;
  height: 40px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  
}

.rights-side-btn:hover {
  background-color: #123d6b;
}


p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p h4 a:hover {
  text-decoration: underline;
}


body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.other-logging-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}