.Group-movie-card {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.movie-title {
  width: 180px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  color: white;
  border-radius: 10px;
  background-color: #2e2c2c;
  text-align: center;
   padding: 5px;
}
.rating {
    width: 180px;
     border-radius: 10px;
    background-color: #2e2c2c;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  margin: 0;
  padding: 5px;
}

.imdb-icon svg {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.Group-movie-card:hover {
  transform: translateY(-5px);
}

.Group-poster-container {
  position: relative;
}

.Group-movie-poster {
  width: 100%;
  display: block;
  border-bottom: 1px solid #333;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.3s ease;
}

.Group-poster-container:hover .overlay {
  opacity: 1;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.info-icon {
  color: #4db8ff;
}

.heart-icon {
  color: #ff5e5e;
}

.delete-icon {
  color: #ff4747;
}

.Group-movie-details {

  color: #fff;
}

.Group-movie-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.Grou-pmovie-details p {
  background-color: aquamarine;
  color: #fff;
  font-size: 14px;
  margin: 2px 0;
}
.favorited {
  color: #ffd700 !important; /* gold star color */
}
