.dropdown-container {
  position: relative;
}

.dropdown-button {
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: rgba(30, 30, 30, 0.9);
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.groups-list {
  max-height: 150px;
  overflow-y: auto;
}

.group-item {
  padding: 10px;
  cursor: pointer;
}

.create-group-button {
  height: 40px;
  background: #eab114;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #555;
}
.create-group-button:hover {
  background: #7d5d0a;
}