
.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.search-bar-input-group {
    width: 90vw;
    height: 100px;
  display: flex;
  align-items: baseline;
    gap: 20px;
    justify-content: center;
    align-self: center;
}

.search-bar input {
  flex: 1;
  height: 30px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  font-size: 16px;
}

.search-btn {
  margin-top:10px;
	box-shadow: 1px 2px 6px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:16px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:15px 60px;
	text-decoration:none;
	text-shadow:0px 3px 0px #283966;
}
.search-btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.search-btn:active {
	position:relative;
	top:1px;
}

.suggestions-list {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background: #1c1c1c;
  border: 1px solid #444;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestions-list li {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestions-list li:hover {
  background-color: #333;
}
